$column-gutter: 20px;

$column-count: 12;
$column-specific-width: true; /* Enable the column viewport specific widths */
$column-specific-margin: true; /* Enable the column viewport specific margin */