@mixin core_sticky-end {
	html,
	body {
		height: 100%;
	}

	.sticky-end {
		width: 100%;
		height: 100%;
		display: table;
		table-layout: fixed;
	}

	.sticky-end-body,
	.sticky-end-footer {
		display: table-row;
		height: 1px;
	}

	.sticky-end-body {
		height: 100%;
	}
}