[submodule "modules/tipi.base.wrapper"]
	path = modules/tipi.base.wrapper
	url = https://toolbarthomas@github.com/toolbarthomas/tipi.base.wrapper.git
[submodule "modules/tipi.base.columns"]
	path = modules/tipi.base.columns
	url = https://toolbarthomas@github.com/toolbarthomas/tipi.base.columns.git
[submodule "modules/tipi.base.fluid"]
	path = modules/tipi.base.fluid
	url = https://toolbarthomas@github.com/toolbarthomas/tipi.base.fluid.git
[submodule "modules/tipi.base.defaults"]
	path = modules/tipi.base.defaults
	url = https://toolbarthomas@github.com/toolbarthomas/tipi.base.defaults.git
[submodule "modules/tipi.base.typography"]
	path = modules/tipi.base.typography
	url = https://toolbarthomas@github.com/toolbarthomas/tipi.base.typography.git
[submodule "modules/tipi.base.sticky-end"]
	path = modules/tipi.base.sticky-end
	url = https://toolbarthomas@github.com/toolbarthomas/tipi.base.sticky-end.git
[submodule "modules/tipi.base.spaces"]
	path = modules/tipi.base.spaces
	url = https://toolbarthomas@github.com/toolbarthomas/tipi.base.spaces.git
[submodule "modules/tipi.base.combined"]
	path = modules/tipi.base.combined
	url = https://toolbarthomas@github.com/toolbarthomas/tipi.base.combined.git
[submodule "modules/tipi.base.element-group"]
	path = modules/tipi.base.element-group
	url = https://toolbarthomas@github.com/toolbarthomas/tipi.base.element-group.git
[submodule "modules/tipi.base.valign"]
	path = modules/tipi.base.valign
	url = https://toolbarthomas@github.com/toolbarthomas/tipi.base.valign.git
[submodule "modules/tipi.base.helpers"]
	path = modules/tipi.base.helpers
	url = https://toolbarthomas@github.com/toolbarthomas/tipi.base.helpers.git
