[submodule "modules/tipi.base.wrapper"]
	path = modules/tipi.base.wrapper
	url = https://toolbarthomas@github.com/toolbarthomas/tipi.base.wrapper.git
	branch = master
[submodule "modules/tipi.base.columns"]
	path = modules/tipi.base.columns
	url = https://toolbarthomas@github.com/toolbarthomas/tipi.base.columns.git
	branch = master
[submodule "modules/tipi.base.fluid"]
	path = modules/tipi.base.fluid
	url = https://toolbarthomas@github.com/toolbarthomas/tipi.base.fluid.git
	branch = master
[submodule "modules/tipi.base.defaults"]
	path = modules/tipi.base.defaults
	url = https://toolbarthomas@github.com/toolbarthomas/tipi.base.defaults.git
	branch = master
[submodule "modules/tipi.base.typography"]
	path = modules/tipi.base.typography
	url = https://toolbarthomas@github.com/toolbarthomas/tipi.base.typography.git
	branch = master
[submodule "modules/tipi.base.sticky-end"]
	path = modules/tipi.base.sticky-end
	url = https://toolbarthomas@github.com/toolbarthomas/tipi.base.sticky-end.git
	branch = master
[submodule "modules/tipi.base.spaces"]
	path = modules/tipi.base.spaces
	url = https://toolbarthomas@github.com/toolbarthomas/tipi.base.spaces.git
	branch = master
[submodule "modules/tipi.base.combined"]
	path = modules/tipi.base.combined
	url = https://toolbarthomas@github.com/toolbarthomas/tipi.base.combined.git
	branch = master
[submodule "modules/tipi.base.element-group"]
	path = modules/tipi.base.element-group
	url = https://toolbarthomas@github.com/toolbarthomas/tipi.base.element-group.git
	branch = master
[submodule "modules/tipi.base.valign"]
	path = modules/tipi.base.valign
	url = https://toolbarthomas@github.com/toolbarthomas/tipi.base.valign.git
	branch = master
[submodule "modules/tipi.base.helpers"]
	path = modules/tipi.base.helpers
	url = https://toolbarthomas@github.com/toolbarthomas/tipi.base.helpers.git
	branch = master
[submodule "modules/tipi.component.touch-menu"]
	path = modules/tipi.component.touch-menu
	url = https://toolbarthomas@github.com/toolbarthomas/tipi.component.touch-menu
[submodule "modules/tipi.component.button"]
	path = modules/tipi.component.button
	url = https://toolbarthomas@github.com/toolbarthomas/tipi.component.button.git
[submodule "modules/tipi.component.top-bar"]
	path = modules/tipi.component.top-bar
	url = https://toolbarthomas@github.com/toolbarthomas/tipi.component.top-bar.git
[submodule "modules/tipi.component.form"]
	path = modules/tipi.component.form
	url = https://toolbarthomas@github.com/toolbarthomas/tipi.component.form.git
[submodule "modules/tipi.component.form.unified-select"]
	path = modules/tipi.component.form.unified-select
	url = https://toolbarthomas@github.com/toolbarthomas/tipi.component.form.unified-select.git
[submodule "modules/tipi.component.form.unified-selection-list"]
	path = modules/tipi.component.form.unified-selection-list
	url = https://toolbarthomas@github.com/toolbarthomas/tipi.component.form.unified-selection-list.git
[submodule "modules/tipi.component.table"]
	path = modules/tipi.component.table
	url = https://toolbarthomas@github.com/toolbarthomas/tipi.component.table.git
