$column-gutter: 20px !default;

$column-count: 12 !default;
$column-specific-width: true !default; /* Enable the column viewport specific widths */
$column-specific-margin: true !default; /* Enable the column viewport specific margin */