$leads: (
	'.lead'
);

$headings1: (
	'h1',
	'.h1'
);

$headings2: (
	'h2',
	'.h2',
);

$headings3: (
	'h3',
	'.h3',
);

$headings4: (
	'h4',
	'.h4',
);

$headings5: (
	'h5',
	'.h5',
);

$headings6: (
	'h6',
	'.h6'
);

$headings: (
	$headings1,
	$headings2,
	$headings3,
	$headings4,
	$headings5,
	$headings6
);

$displays1: (
	'.display1'
);

$displays2: (
	'.display2'
);

$displays3: (
	'.display3'
);

$displays: (
	$displays1,
	$displays2,
	$displays3,
);