@mixin core_columns {
	.row {
		position: relative;
		display: table; /* Remove the white space between each column on the Stock Android Jellybean Browser */
		display: block\9; /* Internet Explorer 9 fix for calc function on element with table display property */
		font-size: 0; /* Remove the white space between columns */
		text-align: left; /* Prevent columns from aligning to center or right when a parent element has the text-align property */
		direction: ltr;
		table-layout: fixed;
		width: 100%;

		> [class*="col"] {
			vertical-align: top;
			display: inline-block;
			width: 100%;
			position: relative;
		}

		> * {
			@include responsive-font-size('default-font-size');
		}
	}

	.row--reverse {
		direction: rtl;

		> [class*="col"] {
			direction: ltr;
		}
	}

	.row--middle {
		> [class*="col"] {
			vertical-align: middle;
		}
	}

	.row--bottom {
		> [class*="col"] {
			vertical-align: bottom;
		}
	}

	@include columns-gutter('&', $column-gutter);
	@include responsive-columns('col', 'left', false, false);
	@include responsive-columns('scol', 'sleft', 0, $smartphone-max-width);
	@include responsive-columns('pcol', 'pleft', $phablet-min-width, $phablet-max-width);
	@include responsive-columns('tcol', 'tleft', $tablet-min-width, $tablet-max-width);
	@include responsive-columns('tlcol', 'tlleft', $tablet-landscape-min-width, $tablet-landscape-max-width);
	@include responsive-columns('dcol', 'dleft', $desktop-min-width, $desktop-max-width);
	@include responsive-columns('wcol', 'wleft', $widescreen-min-width, $widescreen-max-width);
	@include responsive-columns('hcol', 'hleft', $highroller-min-width, false);
}