@mixin core_columns {
	.row {
		display: table; /* Remove the white space between each column on the Stock Android Jellybean Browser */
		display: block\9; /* Internet Explorer 9 fix for calc function on element with table display property */
		font-size: 0; /* Remove the white space between columns */
		text-align: left; /* Prevent columns from aligning to center or right when a parent element has the text-align property */
		direction: ltr;
		table-layout: fixed;
		width: 100%;

		> [class*="col"] {
			vertical-align: top;
			display: inline-block;
			width: 100%;
			text-align: left;
		}

		> * {
			@include responsive-font-size('default-font-size');
		}
	}

	.row--reverse {
		direction: rtl;

		> [class*="col"] {
			direction: ltr;
		}
	}

	.row--right {
		text-align: right;
	}

	.row--center {
		text-align: center;
	}

	.row--middle {
		> [class*="col"] {
			vertical-align: middle;
		}
	}

	.row--bottom {
		> [class*="col"] {
			vertical-align: bottom;
		}
	}

	@include columns-gutter(
		$selector: null,
		$gutter: $column-gutter
	);

	@include responsive-columns(
		$column-class: 'col',
		$margin-class: 'left',
		$min-width: false,
		$max-width: false
	);

	@if $enable-specific-columns-for-smartphone != false {
		@include responsive-columns(
			$column-class: 'scol',
			$margin-class: 'sleft',
			$min-width: false,
			$max-width: $smartphone-max-width
		);
	}

	@if $enable-specific-columns-for-phablet != false {
		@include responsive-columns(
			$column-class: 'pcol',
			$margin-class: 'pleft',
			$min-width: $phablet-min-width,
			$max-width: $phablet-max-width
		);
	}

	@if $enable-specific-columns-for-tablet != false {
		@include responsive-columns(
			$column-class: 'tcol',
			$margin-class: 'tleft',
			$min-width: $tablet-min-width,
			$max-width: $tablet-max-width
		);
	}

	@if $enable-specific-columns-for-tablet-landscape != false {
		@include responsive-columns(
			$column-class: 'tlcol',
			$margin-class: 'tlleft',
			$min-width: $tablet-landscape-min-width,
			$max-width: $tablet-landscape-max-width
		);
	}

	@if $enable-specific-columns-for-desktop != false {
		@include responsive-columns(
			$column-class: 'dcol',
			$margin-class: 'dleft',
			$min-width: $desktop-min-width,
			$max-width: $desktop-max-width
		);
	}

	@if $enable-specific-columns-for-widescreen != false {
		@include responsive-columns(
			$column-class: 'wcol',
			$margin-class: 'wleft',
			$min-width: $widescreen-min-width,
			$max-width: $widescreen-max-width
		);
	}

	@if $enable-specific-columns-for-highroller != false {
		@include responsive-columns(
			$column-class: 'hcol',
			$margin-class: 'hleft',
			$min-width: $highroller-min-width,
			$max-width: false
		);
	}
}