@mixin core_typography {
	body {
		font-family: $base-font-family;
		font-weight: $base-font-weight;
		color: $base-color;

		@if $font-ligatures == false {
			-moz-font-feature-settings: "liga" 0;
			-ms-font-feature-settings: "liga" 0;
			-o-font-feature-settings: "liga" 0;
			-webkit-font-feature-settings: "liga" 0;
			font-feature-settings: "liga" 0;
			-webkit-font-variant-ligatures: none;
			font-variant-ligatures: none;
		}

		@include responsive-font-size('base-font-size');
	}

	#{$displays} {
		@if $display-font-family != false {
			font-family: $display-font-family;
		}
		@if $display-font-weight != false {
			font-weight: $display-font-weight;
		}
		@if $display-font-style != false {
			font-style: $display-font-style;
		}
		@if $display-line-height != false {
			line-height: $display-line-height;
		}
	}

	#{$displays1} {
		@include responsive-font-size('display1-font-size');
	}

	#{$displays2} {
		@include responsive-font-size('display2-font-size');
	}

	#{$displays3} {
		@include responsive-font-size('display3-font-size');
	}


	#{$headings} {
		margin-bottom: 0.5em;

		&:only-child {
			margin-bottom: 0;
		}

		@if $head-font-family != false {
			font-family: $head-font-family;
		}

		@if $head-font-weight != false {
			font-weight: $head-font-weight;
		}

		@if $head-font-style != false {
			font-style: $head-font-style;
		}

		@if $head-line-height != false {
			line-height: $head-line-height;
		}
	}

	#{$headings1} {
		@include responsive-font-size('h1-font-size');
	}

	#{$headings2} {
		@include responsive-font-size('h2-font-size');
	}

	#{$headings3} {
		@include responsive-font-size('h3-font-size');
	}

	#{$headings4} {
		@include responsive-font-size('h4-font-size');
	}

	#{$headings5} {
		@include responsive-font-size('h5-font-size');
	}

	#{$headings6} {
		@include responsive-font-size('h6-font-size');
	}

	#{$displays},
	#{$headings} {
		display: block;
		margin-bottom: 0.69em;

		a {
			color: inherit;

			&,
			.no-touchevents &:hover {
				text-decoration: none;
			}
		}
	}

	#{$leads} {
		@include responsive-font-size('lead-font-size');

		@if $lead-font-family != false {
			font-family: $lead-font-family;
		}

		@if $lead-font-weight != false {
			font-weight: $lead-font-weight;
		}

		@if $lead-font-style != false {
			font-style: $lead-font-style;
		}

		@if $lead-line-height != false {
			line-height: $lead-line-height;
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	p,
	address {
		line-height: $base-line-height;
		margin-bottom: $vertical-baseline;
		margin-top: $vertical-baseline;

		&:last-child {
			margin-bottom: 0;
		}

		&:empty {
			display: none;
		}
	}

	a {
		text-decoration: underline;

		&,
		&:hover,
		&:active,
		&:focus,
		&:visited {
			p & {
				color: inherit;
			}
		}

		&:focus {
			outline: thin dotted !important;
			outline: 4px auto -webkit-focus-ring-color !important;
			text-decoration: underline;
		}
	}

	small,
	sub,
	sup {
		font-size: 80%;
	}

	blockquote,
	q {
		display: block;
		@include responsive-font-size('lead-font-size');


		img {
			vertical-align: baseline;
		}

		p {
			font-size: 100%;
			display: inline;
		}
	}

	ul,
	ol {
		margin: 0;
		margin-left: $horizontal-baseline;
		margin-top: $vertical-baseline;
	}

	li {
		+ li {
			margin-top: $vertical-baseline/2;
		}
	}


	address {
		a {
			color: inherit;
			text-decoration: none;

			&[href^="mailto"] {
				word-break: break-all;
			}
		}
	}

	hr {
		clear: both;
		display: block;
		border: 0;
		border-top: $border-style $border-width $border-color;
		color: $primary-color;
		padding: 0;
		margin: $vertical-baseline*2 0;
	}

	em,
	i,
	.italic {
		font-style: italic;
	}

	strong,
	b,
	.bold {
		font-weight: 700;
	}
}