{% extends "layouts/base.twig" %}

{% block content %}
<section id="columns" class="fluid">
	<div class="wrapper">
		<h1>Columns</h1>

		<h2>Basic row with 12 columns</h2>
		<div class="row">
			{% for i in 1..12 %}
				<div class="col{{i}}">
					Column {{i}}
				</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %}