@mixin construct_specific-helpers($viewport:'', $min-width:false, $max-width:false) {
	@if $min-width != false {
		$viewport: '--' + $viewport;
	}

	@include breakpoint($min-width, $max-width) {
		.clear#{$viewport} {
			clear: both !important;
		}

		.hide#{$viewport} {
			display: none !important;
		}

		.show#{$viewport} {
			display: block !important;
		}
	}
}