@mixin core_spaces {
	.spaces {
		display: block;
		list-style: none;
		margin: 0;
		margin-left: -$space-gutter;
		margin-top: -$space-gutter;
		padding: 0;

		@include clear(false, true);

		> .space {
			margin-top: $space-gutter;
		}
	}

	.space {
		position: relative;
		display: block;
		float: left;
		width: 100%;
		margin: 0;
		padding: 0 0 0 $space-gutter;
	}
}