$row-default-classname: 'row' !default;

$column-default-classname: 'col' !default;
$column-default-horizontal-gutter: 20px !default;
$column-default-vertical-gutter: 20px !default;
$column-default-count: 12 !default;

$push-by-default: true !default;
$push-default-classname: 'left' !default;

$pull-by-default: true !default;
$pull-default-classname: 'right' !default;

$specific-columns-for-smartphone: true !default;
$specific-columns-for-phablet: true !default;
$specific-columns-for-tablet: true !default;
$specific-columns-for-tablet-landscape: true !default;
$specific-columns-for-desktop: true !default;
$specific-columns-for-widescreen: true !default;
$specific-columns-for-highroller: true !default;