@include breakpoint(0) {
	#top {
		padding-top: $section-gutter;
		padding-bottom: $section-gutter;
		background-color: $primary-color;
		color: $body-color;
	}

	@include button-style(
		$selector: '.button',
		$background-color: $primary-color,
		$background-color--hover: $primary-color--hover,
		$background-color--active: false,
		$color: $body-color,
		$color--hover: $base-color,
		$color--active: false,
		$border: solid 2px black,
		$border-color--hover: false,
		$border-color--active: false,
		$border-radius: false,
		$glyph-color: $support-color,
		$glyph-color--hover: false,
		$glyph-color--active: false
	);

	@include button-height(
		$height: 40px,
		$line-height: 36px,
		$gutter: 10px,
		$glyph-width: 20px
	);

	@include form-style(
		$border: solid 2px $border-color,
		$border-color--focus: $support-color
	);

	@include placeholder-style(
		$color: red
	);

	@include unified-checkbox-style(
		$background-color: $body-color,
		$background-color--focus: red,
		$background-color--checked: blue,
		$color: black,
		$color--focus: green,
		$color--checked: brown,
		$border: solid 1px purple,
		$border-color--focus: gray,
		$border-color--checked: black,
		$border-radius: 3px,
		$box-shadow: false,
		$box-shadow--focus: false,
		$box-shadow--checked: false,
		$glyph-color: $base-color,
		$glyph-color--focus: white,
		$glyph-color--checked: yellow
	);

	@include unified-radio-style(
		$background-color: $body-color,
		$background-color--focus: red,
		$background-color--checked: blue,
		$color: black,
		$color--focus: green,
		$color--checked: brown,
		$border: solid 1px purple,
		$border-color--focus: gray,
		$border-color--checked: black,
		$border-radius: 3px,
		$box-shadow: false,
		$box-shadow--focus: false,
		$box-shadow--checked: false,
		$glyph-color: $base-color,
		$glyph-color--focus: white,
		$glyph-color--checked: yellow
	);

	@include unified-select-style(
		$background-color: $body-color,
		$background-color--focus: red,
		$color: black,
		$color--focus: green,
		$border: solid 1px purple,
		$border-color--focus: gray,
		$border-radius: 3px,
		$box-shadow: false,
		$box-shadow--focus: false,
		$glyph-color: $base-color,
		$glyph-color--focus: white
	);

	@include uploader-style(
		$background-color: $body-color,
		$background-color--focus: red,
		$color: black,
		$color--focus: green,
		$border: solid 1px purple,
		$border-color--focus: gray,
		$border-radius: 3px,
		$box-shadow: false,
		$box-shadow--focus: false,
		$glyph-color: $base-color,
		$glyph-color--focus: white
	);

	@include form-message-validation-color(
		$selector: '.form-message--error',
		$border-color: red,
		$background-color: green,
		$color: yellow,
		$glyph-color: brown
	);

	@include touch-menu-button-style(
		$background: $primary-color,
		$background--hover: $primary-color--hover,
		$background--active: $body-color,
		$border-radius: 50%,
		$glyph-color: $body-color,
		$glyph-color--active: $primary-color
	);
}