$smartphone-min-width: 			320px !default;
$smartphone-max-width: 			399px !default;

$phablet-min-width: 			400px !default;
$phablet-max-width: 			639px !default;

$tablet-min-width: 				640px !default;
$tablet-max-width: 				959px !default;

$tablet-landscape-min-width: 	960px !default;
$tablet-landscape-max-width: 	1024px !default;

$desktop-min-width: 			1025px !default;
$desktop-max-width: 			1199px !default;

$widescreen-min-width: 			1200px !default;
$widescreen-max-width: 			1367px !default;

$highroller-min-width: 			1368px !default;
$highroller-max-width: 			1560px !default;