/*------------------------------------*\
    #VARIABLES - COLORS
\*------------------------------------*/
/**
 * Define here the color we use for our project.
 */
/*------------------------------------*\
    #VARIABLES - COMPASS
\*------------------------------------*/
/**
 * Define the global flags for the compass framework here.
 */
/*------------------------------------*\
    #VARIABLES - RESPONSIVE
\*------------------------------------*/
/**
 * Define the global media-query min-width rule for each viewport.
 */
/*------------------------------------*\
    #VARIABLES - SHARED
\*------------------------------------*/
/**
 * Define the global variables for your project here.
 */
/* Spacing between different fluids */
/* Spacing for element i.e. .box, .well etc. */
/* line 2, ../sass/tipi.core/defaults/__core.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figcaption, figure, footer, header, hgroup, main, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 22, ../sass/tipi.core/defaults/__core.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 37, ../sass/tipi.core/defaults/__core.scss */
time,
mark {
  display: inline;
}

/* line 42, ../sass/tipi.core/defaults/__core.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 48, ../sass/tipi.core/defaults/__core.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 53, ../sass/tipi.core/defaults/__core.scss */
[hidden] {
  display: none !important;
}

/* line 57, ../sass/tipi.core/defaults/__core.scss */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
  font-size: 62.5%;
}

/* line 64, ../sass/tipi.core/defaults/__core.scss */
html,
body {
  position: relative;
  height: 100%;
}

/* line 70, ../sass/tipi.core/defaults/__core.scss */
body {
  line-height: 1;
}

/* line 74, ../sass/tipi.core/defaults/__core.scss */
a {
  text-decoration: none;
}
/* line 77, ../sass/tipi.core/defaults/__core.scss */
a:active, a:hover {
  outline: 0;
  text-decoration: underline;
}
/* line 83, ../sass/tipi.core/defaults/__core.scss */
a img {
  outline: 0;
}

/* line 88, ../sass/tipi.core/defaults/__core.scss */
img {
  display: block;
  border: 0;
  margin: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 95, ../sass/tipi.core/defaults/__core.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 99, ../sass/tipi.core/defaults/__core.scss */
blockquote,
q {
  quotes: none;
}
/* line 103, ../sass/tipi.core/defaults/__core.scss */
blockquote:before, blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 110, ../sass/tipi.core/defaults/__core.scss */
strong,
b {
  font-weight: 700;
}

/* line 115, ../sass/tipi.core/defaults/__core.scss */
em,
i {
  font-style: italic;
}

/* line 120, ../sass/tipi.core/defaults/__core.scss */
fieldset {
  min-width: 0;
}

/* line 124, ../sass/tipi.core/defaults/__core.scss */
textarea {
  font-size: 100%;
}

/* line 128, ../sass/tipi.core/defaults/__core.scss */
button,
input,
select {
  font-size: 100%;
  font-family: inherit;
  margin: 0;
  vertical-align: baseline;
  line-height: normal;
}

/* line 138, ../sass/tipi.core/defaults/__core.scss */
input[type="image"],
button,
select,
input[type="checkbox"],
input[type="radio"],
input[type="submit"],
input[type="button"] {
  cursor: pointer;
}

/* line 148, ../sass/tipi.core/defaults/__core.scss */
button,
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
}

/* line 156, ../sass/tipi.core/defaults/__core.scss */
button,
input,
textarea {
  text-transform: none;
  margin: 0;
  padding: 0;
  outline: none;
  border-radius: 0;
  border: none;
}

/* line 167, ../sass/tipi.core/defaults/__core.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 173, ../sass/tipi.core/defaults/__core.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 179, ../sass/tipi.core/defaults/__core.scss */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 185, ../sass/tipi.core/defaults/__core.scss */
* {
  outline: none !important;
}

/* line 189, ../sass/tipi.core/defaults/__core.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 195, ../sass/tipi.core/defaults/__core.scss */
::-moz-selection,
input::-moz-selection,
::selection,
input::selection {
  color: #fff;
  background: #0d0d0d;
  text-shadow: none;
}

@media only screen and (max-width: 400px) {
  @-ms-viewport {
    width: device-width;
  }
}
/* line 212, ../sass/tipi.core/defaults/__core.scss */
script {
  display: none !important;
}

/* No files to import found in tipi.core/typography/** */
/* No files to import found in tipi.core/containers/** */
/* line 2, ../sass/tipi.core/svg-sprite/__core.scss */
#svg-sprite {
  display: none;
}

@media only screen and (min-width: 0) and (max-width: 399px) {
  /* line 7, ../sass/tipi.core/helpers/__construct.scss */
  .clear--smartphone {
    clear: both !important;
  }

  /* line 11, ../sass/tipi.core/helpers/__construct.scss */
  .hide--smartphone {
    display: none !important;
  }

  /* line 15, ../sass/tipi.core/helpers/__construct.scss */
  .show--smartphone {
    display: block !important;
  }
}
@media only screen and (min-width: 400px) and (max-width: 639px) {
  /* line 7, ../sass/tipi.core/helpers/__construct.scss */
  .clear--phablet {
    clear: both !important;
  }

  /* line 11, ../sass/tipi.core/helpers/__construct.scss */
  .hide--phablet {
    display: none !important;
  }

  /* line 15, ../sass/tipi.core/helpers/__construct.scss */
  .show--phablet {
    display: block !important;
  }
}
@media only screen and (min-width: 640px) and (max-width: 969px) {
  /* line 7, ../sass/tipi.core/helpers/__construct.scss */
  .clear--tablet {
    clear: both !important;
  }

  /* line 11, ../sass/tipi.core/helpers/__construct.scss */
  .hide--tablet {
    display: none !important;
  }

  /* line 15, ../sass/tipi.core/helpers/__construct.scss */
  .show--tablet {
    display: block !important;
  }
}
@media only screen and (min-width: 970px) and (max-width: 1024px) {
  /* line 7, ../sass/tipi.core/helpers/__construct.scss */
  .clear--tablet-landscape {
    clear: both !important;
  }

  /* line 11, ../sass/tipi.core/helpers/__construct.scss */
  .hide--tablet-landscape {
    display: none !important;
  }

  /* line 15, ../sass/tipi.core/helpers/__construct.scss */
  .show--tablet-landscape {
    display: block !important;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
  /* line 7, ../sass/tipi.core/helpers/__construct.scss */
  .clear--desktop {
    clear: both !important;
  }

  /* line 11, ../sass/tipi.core/helpers/__construct.scss */
  .hide--desktop {
    display: none !important;
  }

  /* line 15, ../sass/tipi.core/helpers/__construct.scss */
  .show--desktop {
    display: block !important;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1367px) {
  /* line 7, ../sass/tipi.core/helpers/__construct.scss */
  .clear--widescreen {
    clear: both !important;
  }

  /* line 11, ../sass/tipi.core/helpers/__construct.scss */
  .hide--widescreen {
    display: none !important;
  }

  /* line 15, ../sass/tipi.core/helpers/__construct.scss */
  .show--widescreen {
    display: block !important;
  }
}
@media only screen and (min-width: 1368px) and (max-width: 1560px) {
  /* line 7, ../sass/tipi.core/helpers/__construct.scss */
  .clear--highroller {
    clear: both !important;
  }

  /* line 11, ../sass/tipi.core/helpers/__construct.scss */
  .hide--highroller {
    display: none !important;
  }

  /* line 15, ../sass/tipi.core/helpers/__construct.scss */
  .show--highroller {
    display: block !important;
  }
}
/* No files to import found in tipi.custom-components/*\/** */

/*# sourceMappingURL=tipi.css.map */
