@mixin construct_fluid($min-width:false, $gutter:false) {
	@if $min-width != false {
		@include breakpoint($min-width) {
			.fluid {
				min-width: $min-width;

				@if $gutter != false {
					padding-top: $gutter;
					padding-bottom: $gutter;
				}
			}
		}
	}
}