$primary-color:	 				#4694ff !default;
$primary-color--hover:			shade($primary-color, 20%) !default;

$support-color:					#f45d3a !default;
$support-color--hover:			shade($support-color, 20%) !default;

$action-color:					#43c85c !default;
$action-color--hover:			shade($action-color, 20%) !default;

$error-color: 					#f4dada !default;
$error-color-alt: 				shade($error-color, 35%) !default;

$warning-color: 				#ff9e13 !default;
$warning-color-alt:				shade($warning-color, 35%) !default;

$success-color: 				#DEF4DA !default;
$success-color-alt:				shade($success-color, 35%) !default;

$notice-color: 					#feffd9 !default;
$notice-color-alt: 				shade($notice-color, 35%) !default;

$base-color: 					#555555 !default;
$base-color-alt:				#BBBBBB !default;
$placeholder-color: 			#737373 !default;
$link-color: 					$action-color !default;

$body-color:					#fff !default;
$body-color-alt:				#e9e9e9 !default;

$border-color:		 			#bbbbbb !default;

$googleplus-color: 				#dd4b39 !default;
$googleplus-color-alt: 			#b91d24 !default;
$facebook-color: 				#3b5998 !default;
$facebook-color-alt: 			#36518b !default;
$twitter-color: 				#55acee !default;
$twitter-color-alt: 			#4e9dd9 !default;
$linkedin-color: 				#0e76a8 !default;
$linkedin-color-alt: 			#0d6b98 !default;
$pinterest-color: 				#c8232c !default;
$pinterest-color-alt: 			#CB2027 !default;