@mixin clear($before: false, $after: true) {
	$selector: ();

	@if $before == true {
		$selector: append($selector, '&:before', 'comma');
	}

	@if $after == true {
		$selector: append($selector, '&:after', 'comma');
	}

	@if length($selector) > 0 {
		#{$selector} {
			content: " ";
			display: table;
			clear: both;
		}
	}
}