@mixin columns-gutter(
	$selector: false,
	$gutter: false
) {
	@if $selector != false and $gutter != false {
		.row {
			#{$selector} {
				margin-bottom: -$gutter;
				margin-left: -$gutter;

				@if $gutter != 0 {
					width: calc(100% + #{$gutter});
				} @else {
					width: 100%;
				}

				> [class*="col"] {
					padding-left: $gutter;
					margin-bottom: $gutter;
				}

				+ .row {
					margin-top: $gutter;
				}
			}
		}
	}
}