@mixin columns-gutter($selector:false, $gutter:false) {
	@if $selector != false {
		.row {
			#{$selector} {
				margin-left: -$gutter;
				width: calc(100% + #{$gutter});
				margin-top: -$gutter;

				> [class*="col"] {
					padding-left: $gutter;
					padding-top: $gutter;
				}

				+ .row {
					#{$selector} {
						margin-top: 0;
					}
				}
			}
		}
	}
}