@mixin columns-gutter(
	$selector: null,
	$gutter: false
) {
	@if $gutter != false {
		.row {
			&#{$selector} {
				margin-left: -$gutter;

				@if $gutter != 0 or $gutter == false {
					width: calc(100% + #{$gutter});
				} @else {
					width: 100%;
				}

				> [class*="col"] {
					padding-left: $gutter;
					margin-bottom: $gutter;
				}

				&:last-of-type {
					margin-bottom: -$gutter;
				}
			}
		}
	}
}