/*------------------------------------*\
    #TYPOGRAPHY - CONFIG
\*------------------------------------*/

$leads: (
	'.lead'
);

$headings1: (
	'h1',
	'.h1'
);

$headings2: (
	'h2',
	'.h2',
);

$headings3: (
	'h3',
	'.h3',
);

$headings4: (
	'h4',
	'.h4',
);

$headings5: (
	'h5',
	'.h5',
);

$headings6: (
	'h6',
	'.h6'
);

$headings: (
	$headings1,
	$headings2,
	$headings3,
	$headings4,
	$headings5,
	$headings6
);

$displays1: (
	'.display1'
);

$displays2: (
	'.display2'
);

$displays3: (
	'.display3'
);

$displays: (
	$displays1,
	$displays2,
	$displays3,
);

$font-family: 'Helvetica Neue', 'Segoe UI', 'arial', 'sans-serif';
$font-ligatures: false;

$base-font-family: $font-family;
$base-font-weight: 400;
$base-font-style: normal;
$base-line-height: 1.6em;

$lead-font-family: false;
$lead-font-weight: 400;
$lead-font-style: false;
$lead-line-height: 1.6em;

$head-font-family: false;
$head-font-weight: 700;
$head-font-style: false;
$head-line-height: 1.3em;

$display-font-family: false;
$display-font-weight: 700;
$display-font-style: false;
$display-line-height: 1.32em;

$vertical-baseline: 1.31em;
$horizontal-baseline: 1.1em;