// @import "layout/sprite/*.png";

@mixin core_sprite {
	@if variable-exists(sprite-sprites) == true {
		.sprite {
			display: inline-block;
			position: relative;
			overflow: hidden;
			vertical-align: middle;
			text-align: left;
			@include construct_sprite($sprite-sprites);
			white-space: normal;
		}
	}
}