// Simple mixin for wrapping content in a media query with min and max-width.

@mixin breakpoint(
	$min-width: 0,
	$max-width: false,
	$viewport: screen
) {
	$output: "";
	$queries: ();

	@if $min-width != false
	{
		@if $min-width > 0
		{
			$queries: append($queries, '(min-width: #{$min-width})', comma);
		}
	}

	@if $max-width != false
	{
		$queries: append($queries, '(max-width: #{$max-width})', comma);
	}


	$i: 0;
	@if length($queries) >  0
	{
		@each $query in $queries
		{
			$and: "";
			@if $output != ''
			{
				$and: ' and ';
			}

			$output: $output + $and + $query;
		}
	}

	@if $output != ''
	{
		$output: unquote($viewport) + ' and ' + $output;
	}

	@if $output == "" {
		@content;
	}
	@else {
		@media #{$output} {
			@content;
		}
	}
}