// Simple mixin for wrapping content in a media query with min and max-width.

@mixin breakpoint(
	$min-width: 0,
	$max-width: false,
	$viewport: screen
) {
	$output: "";
	$arguments: 0;

	@if $min-width != false {
		@if $min-width > 0 {
			$output: $output + "(min-width:" + $min-width + ")";

			$arguments: $arguments + 1;
		}
	}

	@if $max-width != false {
		@if $arguments > 0 {
			$output: $output + " and ";
		}

		$output: $output + "(max-width:" + $max-width + ")";

		$arguments: $arguments + 1;
	}

	@if $arguments > 0 and $viewport != false {
		$output: unquote($viewport) + " and " + $output;
	}

	@if $output == "" {
		@content;
	}
	@else {
		@media #{$output} {
			@content;
		}
	}
}