@charset "UTF-8";

/// Add clearfix hack on the element with the ::before & ::after pseudo elements
///
/// @param { Boolean } $before
///     Set the clearfix hack on the ::before pseudo
///
/// @param { Boolean } $after
///     Set the clearfix hack on the ::before pseudo

@mixin clear(
    $before: false,
    $after: true
) {
    $selector: ();

    @if $before == true
    {
        $selector: append($selector, '&::before', 'comma');
    }

    @if $after == true
    {
        $selector: append($selector, '&::after', 'comma');
    }

    @if length($selector) > 0
    {
        #{$selector} {
            content: " ";
            display: table;
            clear: both;
        }
    }
}