//Mixin for adding the clearfix properties to the nested element.

@mixin clear(
	$before: false,
	$after: true
) {
	$selector: ();

	//Add ::before pseudo selector to the output
	@if $before == true
	{
		$selector: append($selector, '&:before', 'comma');
	}

	//Add ::after pseudo selector to the output
	@if $after == true
	{
		$selector: append($selector, '&:after', 'comma');
	}

	@if length($selector) > 0
	{
		#{$selector} {
			content: " ";
			display: table;
			clear: both;
		}
	}
}