//Mixin that return @font-face with woff, woff2 and ttf files.

@mixin webfont(
	$font-family: false,
	$src: false,
	$font-weight: normal,
	$font-style: normal,
	$woff2: true,
	$woff: true,
	$ttf: true
) {
	@if $font-family != false and $src != false {
		$src_output: null;

		@if $woff2 == true {
			$src_output: append($src_output, url(quote($src + ".woff2")) format("woff2"), comma);
		}

		@if $woff == true {
			$src_output: append($src_output, url(quote($src + ".woff")) format("woff"), comma);
		}

		@if $ttf == true {
			$src_output: append($src_output, url(quote($src + ".ttf")) format("truetype"), comma);
		}

		@if $src_output != null {
			@font-face {
				font-family: $font-family;
				src: $src_output;
				font-weight: $font-weight;
				font-style: $font-style;
			}
		}
	}
}