@mixin construct_combined-reset($viewport, $min-width:false, $max-width:false) {
	@if $min-width != false and $max-width != false {
		@include breakpoint($min-width, $max-width) {
			.combined--reset-#{$viewport} {
				&.combined, {
					&,
					& > .combined-aside,
					& > .combined-body {
						display: block;
						margin: 0;
						padding: 0;
						width: auto;
						vertical-align: baseline;
						white-space: normal;
					}
				}

				> [class*="combined-"] + [class*="combined-"] {
					margin-top: $combined-baseline;
				}
			}
		}
	}
}