@mixin construct_spaces($multiplier: 1, $min-width:false) {
	@if include breakpoint($min-width) {
		.space {
			width: 100% / $multiplier;

			&:nth-child(1n+1) {
				clear: none;
			}

			&:nth-child(#{$multiplier}n+1) {
				clear: both;
			}
		}
	}
}