					</div> <!-- .stick-end-footer CLOSE -->
					<div class="sticky-end-footer">
					</div>
				</div> <!-- .stick-end CLOSE -->
			</div>
		</div>

		<script src="/assets/js/lib/modernizr/modernizr-custom.js"></script>
		<script src="/assets/js/lib/svg-localstorage/svg-localstorage.js"></script>
		<script>
			if(typeof svgLocalstorage == 'function') {
				svgLocalstorage('assets/img/layout/svg-sprite.svg', 'svgRev').then(svg => {
					document.getElementById('svg-sprite').insertAdjacentHTML('afterbegin', svg);
				});
			}
		</script>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="assets/js/lib/jquery/dist/jquery.min.js"><\/script>')</script>

		<script src="assets/js/tipi/tipi.components.js"></script>

		<script src="assets/js/main.js"></script>
	</body>
</html>